/* style.css */

html {
scroll-behavior: smooth;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #515151 #1e1e2f ;

}

header {
    background-color: white;
    font-family: "Poppins Regular";
    color: #aaaaaa;
    z-index:3;
}

header {
    font-size: 20px;
    margin: 0px 0 0 50px;
    position: sticky;
    top: 0;
}

header nav {
    float: right;
    text-align:right;
    margin: 10px 150px 0 0;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
}


header nav li {
    line-height: 0px;
    display: inline;
    margin: 50px 0 100px 50px;
}

.logo-text {
    float: left;
    margin: 10px 100px 0 0;
    line-height: 50px;
    font-size: 20px;
    color: #aaaaaa;
    font-weight: 600;
}

.logo-text span {
    font-weight: 400;
}

a {
    color:lightgray;
    text-decoration: none;
}

a:hover {
    color: #696969;
}



.main{
   height: 100vh;
   background: white;
   box-sizing: border-box; 
   border-top: 4px solid darkgrey;
}


.resume{
    background:#262629;
    color:white;
    border-top: 4px solid darkgrey;

}

.main p {
    margin:0;
}

.portfolio{
    background: white;
    color:white;
    border-top: 4px solid darkgrey;
}

.contact{
    background: #262629;
    color:white;
    border-top: 4px solid darkgrey;
}


.contact nav {
    float: left;
    text-align:left;
    margin: 150px 5px 0 0;
    font-size: 18px;
}

.contact nav li {
    display: inline;
    margin: 0px 5px 0px 0px;
}

.contact p {
    line-height: 0px;
    font-size: 15px;
    margin: 30px 20px 20px 20px;
    color: #aaaaaa;
    float: right;
    
}


.container_1 {
   text-align:center;
   position: relative;
   width: 80%;
   left:10%;
   right:10%;
   top: 25%;
   height:50%; 
   bottom: 50%;
   box-sizing: border-box;
   background-color:#f6f4f3;

}       

.container_2 {
   text-align:center;
   position: relative;
   width: 80%;
   left:10%;
   right:10%;
   top: 25%;
   height:50%; 
   bottom: 50%;
   box-sizing: border-box;
   background-color:#3f3f43;

}      

.container_2 img{
    display:inline-block;
    position: absolute;
    top:20%;
    left:5%;
}   

.grad_pic {
    display:inline-block;
    position: absolute;
    left:50px;
    top:25px;
}    

.intro{
    font-size: 25px;
    font-family: "Freestyle Script";
    display:inline-block;
    position:absolute;
    bottom:10%;
    left: 25%;
}      

.intro2{
    font-size: 30px;
    font-family: "Freestyle Script";
    display:inline-block;
    position:absolute;
    top:25%;
    left: 50%;
    right: 25%;
}    

.contact1{
    font-size: 30px;
    font-family: "Freestyle Script";
    display:inline-block;
    position:absolute;
    top:30%;
    left: 5%;
    right: 45%;
}    

.credits{
    font-size: 30px;
    font-family: "Poppins Regular";
    display:inline-block;
    position:absolute;
    bottom:0%;
    right: 0%;

}

.container_2 nav {
    z-index:4;
    position: relative;
    top:35%;
    left: 35%;
    right: 45%;
}

.container_2 nav li {
    position: relative;
    display: inline;
    margin: 0 0 0 150px;
}

/* For chrome, Safari */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5a5a5a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e6e6e;
}
   