/* style.css */

html {
    scrollbar-width: thin;
    scrollbar-color: #6e6e6e #5a5a5a;
    scroll-behavior: smooth;
}

.logo {
    color: white;
    font-weight: 600;
    font-style:"Arial";
}

.logo span {
    font-weight: 400;
}

.page-logo{
    font-family: "Freestyle Script";
    height:100%;
    top:10%;
}

a {
    color:lightgray;
    text-decoration: none;
}

a:hover {
    color: white;
}

.main{
   min-height: 100vh;
   background: white;
   box-sizing: border-box; 
}

/* add background img */

#home{
    background-image: url('https://edwardmoradian.github.io/static/images/grad_pic_4.jpg');
    background-position-x: left;
    background-position-y: bottom;    
    background-repeat: no-repeat;
    background-size: 500px 747px;
}

.resume{
    background:#262629;
    color:white;
}

.resume img{
    padding: 5px 5px 5px 5px;
}

.contact img{
    padding: 5px 5px 5px 5px;
}

.main p {
    margin:0;
}

.experience{
    background: #07112f;
    color:white;
}

.exp_pad{
    padding: 20px 0 20px 0;
}

.experience ul {
  position: relative;
  list-style: none;
}

.experience li::before {
  content: '▶';
  position: absolute;
  left: 0;
}

.resume-dates{
    font-size:40px;
}

.philosophy{
    background: white;
    color:white;
}

.phil_pad{
    padding: 5px 0 5px 0;
}

.contact{
    background: #262629;
    color:white;
}

.contact nav {
    text-align:center;
    align-content:center;
}

.contact nav li {
    display: inline;
    margin: 0px 5px 0px 0px;
}

.contact p {
    line-height: 0px;
    margin: 30px 20px 20px 20px;
    color: #aaaaaa;
    float: right;
    
}

/* container styles to override bootstrap */

.container_1 {
   background-color:#f6f4f3;
   padding: 40px 40px 40px 40px;
   position: relative;
}       

.container_2 {
   background-color:#3f3f43;
   text-align:center;
   position: relative;
   padding: 30px 30px 30px 30px;
   
}      

.container_3 {
   background-color:#0c1d51;
   padding: 20px 20px 20px 20px;
   position: relative;
} 

.container_2 nav {
    z-index:4;
    position: relative;
}

.container_2 nav li {
    position: relative;
    display: inline;
}

.container_2 img{
    display:inline-block;
    position: relative;
}   

/* font attributes for diff pages */

.intro{
    font-family: "Freestyle Script";
    height:100%;
}

.intro2{
    font-family: "Poppins";
    text-align: left;
    display:inline-block;
    height:100%;
}    

.intro3{
    font-family: "Poppins";
    display:inline-block;
    height:100%;
}  

.contact1{
    font-family: "Freestyle Script";
    display:inline-flex;
    position:relative;
}    

.credits{
    font-family: "Poppins Regular";
    background-color:#3f3f43;
    width:100%;
    color:lightgrey;
    height: 40px;
}

/* For chrome, Safari */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #5a5a5a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6e6e6e;
}

/* navbar */

.navbar li{
    margin-right: 25px;
}

.navbar {
    padding: 0px;

}

.navbar-brand {
    padding: 0px;
}

.navbar-brand p{
    margin-bottom: .6rem;
}

/* border-br */

.black-br{
    height: 20px; 
    background-color: #262629; 
    color: #262629;
    width:100%;
}

.white-br{
    height: 20px; 
    background-color: white; 
    color: white;
    width:100%;
}

.blue-br{
    height: 20px; 
    background-color: #07112f; 
    color: #07112f;
    width:100%;
}

/* media queries */

@media (max-width: 575.98px) {
    #home {
      background-image:none;
     }
    .container_1{
        padding:20px 20px 20px 20px;
    }
    .container_2{
        padding:20px 20px 20px 20px;
    }
    p{
        font-size:14px;
    }
    h1{
        font-size:30px;
    }
    h2{
        font-size:16px;
    }
    h4{
        font-size:18px;
    }
    h5{
        font-size:15px;
    }
    h6{
        font-size:12px;
    }
    .resume-dates{
        font-size:20px;
    }
    .logo{
        font-size:15px;
    } 
    .page-logo{
        font-size:35px;
    }    
    .contact nav{
        font-size:12px;
    }    
    .contact p{
        font-size:10px;
    }    
    .intro{
        font-size:25px;
    }    
    .intro2{
        font-size:15px;
    }    
    .intro3{
        font-size:18px;
    }    
    .intro4{
        font-size:18px;
    }    
    footer p{
        font-size:12px;
    }    
}

@media (max-width: 769px) {
    .container_1{
        padding:20px 20px 20px 20px;
    }
    .container_2{
        padding:20px 20px 20px 20px;
    }
    nav{
        font-size:10px;
    }
    p{
        font-size:14px;
    }
    h1{
        font-size:30px;
    }
    h2{
        font-size:26px;
    }
    h5{
        font-size:15px;
    }
    .resume-dates{
        font-size:20px;
    }
    .logo{
        font-size:15px;
    } 
    .page-logo{
        font-size:35px;
    }    
    .contact nav{
        font-size:12px;
    }    
    .contact p{
        font-size:10px;
    }    
    .intro{
        font-size:25px;
    }    
    .intro2{
        font-size:15px;
    }    
    .intro3{
        font-size:18px;
    }    
    .intro4{
        font-size:18px;
    }    
}

@media (min-width: 991.98px) {
    #home {
        background-size: 450px 672px;
     }
    p{
        font-size:16px;
    }
    h1{
        font-size:30px;
    }
    .resume-dates{
        font-size:30px;
    }
    .logo{
        font-size:15px;
    } 
    .page-logo{
        font-size:35px;
    }    
    .contact nav{
        font-size:12px;
    }    
    .contact p{
        font-size:10px;
    }    
    .intro{
        font-size:30px;
    }    
    .intro2{
        font-size:20px;
    }    
    .intro3{
        font-size:18px;
    }    
    .intro4{
        font-size:18px;
    }    
    footer p{
        font-size:14px;
    }    

}


@media (min-width: 1199.98px) {
    p{
        font-size:16px;
    }
    h1{
        font-size:40px;
    }
    .resume-dates{
        font-size:40px;
    }
    .logo{
        font-size:20px;
    } 
    .page-logo{
        font-size:45px;
    }    
    .contact nav{
        font-size:18px;
    }    
    .contact p{
        font-size:15px;
    }    
    .intro{
        font-size:35px;
    }    
    .intro2{
        font-size:20px;
    }    
    .intro3{
        font-size:10px;
    }    
    .intro4{
        font-size:23px;
    }  
    footer p{
        font-size:14px;
    }    
}